<div class="container">
  <form (ngSubmit)="updateData()">
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" name="title" [(ngModel)]="employee.title">
    </div>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="employee.name">
    </div>
    <div class="form-group">
      <label>Surname</label>
      <input type="text" class="form-control" name="surname" [(ngModel)]="employee.surname">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" name="email" [(ngModel)]="employee.email">
    </div>
    <div class="form-group">
      <label>Phone</label>
      <input type="text" class="form-control" name="phone" [(ngModel)]="employee.phone">
    </div>
    <div class="form-group">
      <button class="btn btn-primay">Update</button>
    </div>
  </form>
</div>
